[Unit]
Description=Mount partition with U-Boot environment

[Mount]
Type=auto
What=/dev/mmcblk0p1
Where=/boot/uboot
Options=rw,sync,nouser,noatime,noexec
LazyUmount=false

[Install]
WantedBy=multi-user.target
