# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# If the Flash sector size is ommitted, this value is assumed to
# be the same as the Environment size.

# NAND example
# MTD device name	Device offset	Env. size	Flash sector size	Number of sectors
#/dev/mtd2		0x00000		0x20000		0x20000			1

# Block device example with values taken from mx6ul_var_dart.h
#define CONFIG_ENV_OFFSET		(14 * SZ_64K)
#define CONFIG_ENV_SIZE			SZ_8K

# SDCARD
#/dev/mmcblk0		0xE0000		0x2000
# SDCARD redundant partition
#/dev/mmcblk0		0xE2000		0x2000

# MMC
#/dev/mmcblk1		0xE0000		0x2000
# MMC redundant partition
#/dev/mmcblk1		0xE2000		0x2000

# VFAT
/boot/uboot/uboot.env	0x00000		0x2000
