BR2_aarch64=y
BR2_cortex_a55=y
BR2_GLOBAL_PATCH_DIR="board/freescale/imx95-15x15-frdm/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_PACKAGE_FREESCALE_IMX_PLATFORM_IMX95=y
BR2_PACKAGE_FREESCALE_IMX=y
BR2_PACKAGE_FIRMWARE_IMX=y
BR2_PACKAGE_FIRMWARE_IMX_LPDDR4X=y
BR2_PACKAGE_IMX_SM=y
BR2_PACKAGE_IMX_OEI=y
BR2_PACKAGE_IMX_OEI_TARGET_BOARD="mx95lp4x-15"
BR2_PACKAGE_FIRMWARE_ELE_IMX=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,imx-atf,lf-6.12.49-2.2.0)/imx-atf-lf-6.12.49-2.2.0.tar.gz"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="imx95"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,uboot-imx,lf-6.12.49-2.2.0)/uboot-imx-lf-6.12.49-2.2.0.tar.gz"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="imx95_15x15_frdm"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_NEEDS_OPENSSL=y
BR2_TARGET_UBOOT_NEEDS_GNUTLS=y
BR2_TARGET_UBOOT_SPL=y
BR2_PACKAGE_HOST_IMX_MKIMAGE=y
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/imx95-bootloader-prepare.sh board/freescale/common/imx/post-image.sh"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,linux-imx,lf-6.12.49-2.2.0)/linux-imx-lf-6.12.49-2.2.0.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="imx_v8"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="freescale/imx95-15x15-frdm"
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_TARGET_ROOTFS_EXT2=y
